<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.fidelity.lio.merchant">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".MerchantApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.DetailActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d48402bdac0edc6886c4ed6c23fb4bea5c874cb8" />

        <activity android:name=".ui.BaseActivity"/>
    </application>

</manifest>